.minimap-container {
  position: fixed;
  left: 16px;
  bottom: 16px;
  z-index: 1000;
}

.minimap-canvas {
  border-radius: 10px;
  /* 稍微调小圆角 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.08);
  cursor: default;
  background: #fff;
}